body{
    font-family: Garamond, serif;
}
h1{
    font-weight: bold;
} 
div.images{
    display:table-cell; 
    vertical-align:middle; 
    text-align:center
}

/* making the gallery class for the image gallery*/
div.gallery {
    margin: 5px;
    border: 2px solid rgb(233, 224, 224);
    float: left;
    width: 180px;
  }
  
/* image gets larger when you hover over */
  div.gallery:hover {
    border: 2px solid rgb(5, 0, 0);
    width: 50%;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.description {
    padding: 15px;
    text-align: center;

  }
